#  Virtual Environment
.venv/

# Python file caches
__pycache__/
**/*.pyc

# Python setup.py distributions
dist/

# Hypothesis for testing
.hypothesis/

# Local testing cache
testing/

# Editor support files
# PyCharm
.idea/
# Visual Studio Code
.vscode/
